<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pers.may.assist.mapper.ChatMapper">

    <select id="selMaxChatNum" resultType="Int">
        select count(*) from chat where fromPhoneNum = #{fromUserPhoneNum} and toPhoneNum = #{toUserPhoneNum} and orderId = #{orderId};
    </select>

    <insert id="insertSingleUnreadChat">
        insert into chat (chatId,fromPhoneNum,toPhoneNum,sentTime,chatContent,chatState,chatType,orderId)VALUES(default,#{fromPhoneNum},#{toPhoneNum},#{sentTime},#{chatContent},0,#{chatType},#{orderId});
    </insert>


    <select id="selAllChat" resultType="Chat">
        select * from chat where fromPhoneNum = #{fromUserPhoneNum} and toPhoneNum = #{toUserPhoneNum} and orderId = #{orderId} order by sentTime;
    </select>


    <select id="selAllChatOfPage" resultType="Chat">
        select * from chat where fromPhoneNum = #{fromUserPhoneNum} and toPhoneNum = #{toUserPhoneNum} and orderId = #{orderId} order by sentTime limit ${(pageNum-1)*pageSize},#{pageSize};
    </select>


    <select id="selNewChatNumOfOne" resultType="Int">
       select count(*) from chat where fromPhoneNum = #{fromUserPhoneNum} and toPhoneNum = #{toUserPhoneNum} and chatState = 0 and orderId = #{orderId};
    </select>

    <select id="selAllNewChatNum" resultType="Int">
        select count(*) from chat where toPhoneNum = #{phoneNum} and chatState = 0;
    </select>

    <update id="updChatState">
        update chat set chatState = 1 where fromPhoneNum = #{anotherUserPhoneNum} and toPhoneNum = #{phoneNum} and chatState = 0 and orderId = #{orderId};
    </update>


</mapper>